.navbar {
  background-color: transparent;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  /* position: sticky; */
  z-index: 2;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.navbar-logo {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
}
.navbar-logo a {
  display: flex;
  align-items: center;
  color: var(--color-purple);
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
}
.nav-links {
  color: var(--color-purple);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  list-style: none;
  height: 100%; /* the most important*/
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.nav-links:hover {
  transform: scale(1.05);
}
.menu-icon {
  display: none;
}
.btn-login-div span {
  margin-left: 15px;
  color: var(--color-purple);
}
.topbar-cart {
  position: relative;
  margin-left: 10px;
}
.topbar-cart span {
  position: absolute;
  top: -10px;
  right: 0px;
  font-weight: 500;
}
.btn-purple {
  background-color: var(--color-purple);
  color: var(--color-white);
}
/* ======== media ======= */
@media screen and (max-width: 990px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: +100%;
    opacity: 0;
    transition: all 0.5s ease;
    overflow-x: hidden;
  }
  .nav-menu.active {
    background-color: var(--color-purple);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    margin: 10px 0;
    padding: 1rem 4rem;
    width: 100%;
    display: table;
    color: var(--color-white);
  }
  .nav-links:hover {
    background-color: transparent;
    color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--color-white);
  }
  .logo-container {
    width: 100px;
  }
  .btn-login-div {
    position: absolute;
    left: 60px;
  }
  .navbar-logo {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-purple);
  }
  .form-control {
    display: flex;
    text-align: center;
    width: 90%;
    margin-top: 20px;
  }
  .form-control form {
    display: flex;
    width: 300px;
  }
  .payment-section-container {
    padding: 55px;
  }
  .cardPay {
    width: 31%;
  }
  .cardPay h1 {
    font-size: 24px;
    line-height: 2rem;
  }
  .cardPay p {
    font-size: 16px;
  }
  .navbar {
    padding: 0 0px;
  }
  .navbar-all-sections {
    margin-right: 10px;
  }
}
